.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
  }

.content{
  background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Ffondosmil.com%2Fstar-wars&psig=AOvVaw0m4-2FzejPNmo25sc7I8dj&ust=1603167778553000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCPDnhfn1v-wCFQAAAAAdAAAAABAD);
}

*{padding: 0; margin: 0; box-sizing: border-box;}
body{height: 900px;}
header {
	background-image: url('../images/Jj1p5F.jpg');
	text-align: center;
	width: 100%;
	height: auto;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	overflow: hidden;
	border-radius: 0 0 85% 85% / 30%;
}

h1 {
	font-family: 'Dancing Script', cursive;
	font-size: 50px;
	margin-bottom: 30px;
}